body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Fondo fijo que no se mueve con el contenido */
body::before,
body::after {
  content: "";
  position: fixed; /* Cambiado a fixed para que sea independiente del scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body::before {
  background-image: url('../wallpaper/3969\ 1.svg');
  background-size: cover;
  background-position: center;
  z-index: -2;
  opacity: 1;
}

body::after {
   background: rgba(40, 30, 70, 0.5);
  z-index: -1;
}

.contact {
    position: fixed;
    top: 3rem;
    right: 4rem;
    z-index: 10;
    font-size: 41px;
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    transition: transform 0.3s ease; /* Transición añadida */
}

.contact:hover {
    transform: scale(1.1); /* Efecto de escala al hacer hover */
}

.message-container {
    position: fixed; /* Fijo */
    top: 8rem; /* Ajusta según necesidad */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 364px;
    height: auto;
    padding: 0 1rem;
    text-align: center;
}

.message-img {
    width: 100%;
    height: auto;
}

.derek-container {
    position: fixed; /* Fijo */
    top: 20rem; /* Debajo del mensaje */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    max-width: 440px;
    height: auto;
}

.derek-img {
    width: 100%;
    height: auto;
}

.earth-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 550px;
    overflow: visible;
    z-index: 1;
}

.earth {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    max-width: 100%;
    z-index: 1;
}

.btn {
    position: absolute;
    left: 50%;
    bottom: 10%; 
    transform: translateX(-50%);
    z-index: 2;
    width: 249px;
    height: 168px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: translateX(-50%) scale(1.1); 
}

.enter {
    position: fixed;
    left: 3%;
    bottom: 2rem; 
    z-index: 2;
    width: 90px;
    height: 126px;
}

.scroll {
    position: fixed;
    right: 4rem;
    bottom: 2rem;
    z-index: 2;
    width: 90px;
    height: 126px;
}


.flecha {
      position: absolute;
    right: 2%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 2;
    width: 50px;
    height: 102px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.flecha:hover {
    transform: translateX(-50%) scale(1.1); 
}

.flecha1 {
      position: absolute;
    left: 4%;
    top: 45%;
    transform: translateX(-50%);
    z-index: 2;
    width: 50px;
    height: 102px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.flecha1:hover {
    transform: translateX(-50%) scale(1.1); 
}